.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 5px;
  
    border-radius: 2px;
    color: white;
    background-color:#007bff;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0161c8;
}
.subButton{
    border-radius: 2px;
}
.fileN{
    margin-bottom: 5px;
}
#error{
    color:red;
    font-size: 25px;
    font-weight: 500
}