.archBut{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    
    display: inline-block;
}

  .archBut:hover .archBut:focus .archBut.launch {
      border: none;
    cursor: pointer;
      background-color: inherit;
    }
.archBut.change{
    border: none;
}
.archiveLink{
  width: 100%
}
.archiveLink:hover{
  background-color: rgba(47, 47, 255, 0.705);
  color: white
}
@media only screen and (max-width: 750px) {
.archBut{
  padding: 0px;
}}